# 构建目录
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt

# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# 日志 & 输出
runlog/
output/
*.log
*.tr
*.dat

# 系统文件
.DS_Store
*.swp
*.swo

# 第三方库 / 不需要上传
contrib/
tmp/
